/*******************************************************************************
 * Footer styles
 ******************************************************************************/

footer.fixed-bottom {
  background-color: transparent;
  font-size: 0.75rem;

  .container {
    color: var(--global-footer-text-color);
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
  }

  a {
    color: var(--global-footer-link-color);

    &:hover {
      color: var(--global-theme-color);
      text-decoration: none;
    }
  }
}

footer.sticky-bottom {
  border-top: 1px solid var(--global-divider-color);
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 0.8rem;

  .container {
    text-align: center;
  }
}
